{% extends 'core/base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <h1 class="mb-6 text-2xl">Books</h1>

    {% if books%}
        {% for book in books %}
            <div class="p-4 grid grid-cols-2 gap-4 bg-slate-100">
                <h2>
                    <a href="{% url 'book:detail' book.id %}">{{ book.title }}</a>
                </h2>

                <p>{{ book.get_status_display }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any books yet...</p>
    {% endif %}
{% endblock %}